{% extends 'base.html.twig' %}
{% block title %}
    WebApp Name here
{% endblock %}

{% block body %}
    <div class="container-fluid">
    <h1>About App</h1>
    <p>Details and description of App here</p>
    {% if is_granted("ROLE_USER") %}
        <h2>Logged in as {{ app.user.username }}</h2>
    {% endif %}
    </div>

{% endblock %}