{% extends 'base.html.twig' %}
{% block title %}
    Add items
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/formstyles.css") }}">
{% endblock %}

{% block body %}
    <div class="container-fluid">
    <div class="box_left">
        {% block boxLeft %}
            <div class="col-sm-6">
                <div class="well">
                    <legend class="scheduler-border">Stock Item details</legend>
                    <ul class="nav nav-tabs nav-pills nav-justified">
                        <li class="active"><a data-toggle="tab" href="#Add">Add</a></li>
                        <li><a data-toggle="tab" href="#Update">Update</a></li>
                    </ul>
                    <div class="row">
                    <div class="tab-content">
                        <div id="Add" class="tab-pane fade in active">
                            <h3>Add Stock Item</h3>
                            <form>
                                <fieldset>
                                    <p>
                                        <label for="productAddType">Product Type </label>
                                        <select name="productAddType" id="productAddType">
                                            <option value="Router">Router</option>
                                            <option value="Mobile" selected="selected">Mobile</option>
                                            <option value="Sims">Sims</option>
                                            <option value="Other">Other</option>
                                        </select>
                                    </p>
                                    <p>
                                        <label for="productAddName">Product Name </label>
                                        <input type="text" name="productAddName" id="fn" size="50" />
                                    </p>
                                    <p>
                                        <label for="productAddSerial">Serial no. </label>
                                        <input type="text" name="productAddSerial" id="fn" size="50"/>
                                    </p>
                                    <p>
                                        <label for="productAddBase">Base Features </label>
                                <textarea name="productAddBase" id="productAddBase" rows="5" cols="47"
                                >Please separate features with a coma(,)
                                </textarea>
                                    </p>
                                    <p>
                                        <label for="productAddSpecs">Device Specifications </label>
                                <textarea name="productAddSpecs" id="productAddSpecs" rows="5" cols="47"
                                >Please separate Specifications with a coma(,)
                                </textarea>
                                    </p>
                                    <p>
                                        <label for="productAddContent">Package Contents </label>
                                <textarea name="productAddContent" id="productAddContent" rows="5" cols="47"
                                >Please separate Contents with a coma(,)
                                </textarea>
                                    </p>
                                    <p>
                                        <label for="productAddSysReq">System Requirements </label>
                                <textarea name="productAddSysReq" id="productAddSysReq" rows="5" cols="47"
                                >Please separate System Requirements with a coma(,)
                                </textarea>
                                    </p>
                                </fieldset>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                            </form>
                            </div>

                        <div id="Update" class="tab-pane fade">
                            <h3>Update Stock Items</h3>
                            <form>
                                <fieldset>
                                <!--div class="well well-sm"-->
                                <p>
                                    <label for="productUpType">Product Type </label>
                                    <select name="productUpType" id="productUpType">
                                        <option value="Router">Router</option>
                                        <option value="Mobile" selected="selected">Mobile</option>
                                        <option value="Sims">Sims</option>
                                        <option value="Other">Other</option>
                                     </select>
                                </p>
                                <p>
                                    <label for="productUpName">Product Type </label>
                                    <select name="productUpName" id="productUpName">
                                        <option value="Product1">Product1</option>
                                        <option value="Product2" selected="selected">Product2</option>
                                        <option value="Product3">Product3</option>
                                        <option value="Product4">Product4</option>
                                    </select>
                                </p>
                                <p>
                                    <label for="productUpSerial">Serial no. </label>
                                    <input type="text" name="productUpSerial" id="fn" size="50"/>
                                </p>
                                <p>
                                    <label for="productUpBase">Base Features </label>
                                    <textarea name="productUpBase" id="productUpBase" rows="5" cols="47"
                                        >Please separate features with a coma(,)
                                    </textarea>
                                </p>
                                <p>
                                    <label for="productUpSpecs">Device Specifications </label>
                                    <textarea name="productUpSpecs" id="productUpSpecs" rows="5" cols="47"
                                        >Please separate Specifications with a coma(,)
                                    </textarea>
                                </p>
                                <p>
                                    <label for="productUpContent">Package Contents </label>
                                    <textarea name="productUpContent" id="productUpContent" rows="5" cols="47"
                                        >Please separate Contents with a coma(,)
                                    </textarea>
                                </p>
                                <p>
                                    <label for="productUpSysReq">System Requirements </label>
                                    <textarea name="productUpSysReq" id="productUpSysReq" rows="5" cols="47"
                                        >Please separate System Requirements with a coma(,)
                                    </textarea>
                                </p>
                                </fieldset>
                                    <button type="submit" class="btn btn-primary">Update changes</button>
                                </form>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>

    <div class="top_box_left">
        {% block topBoxRight %}
            <div class="col-sm-4">
                <div class="well">
                    <legend class="scheduler-border">Update no. of Stock</legend>
                    <div class="row">
                        <form>
                            <p>
                                <label for="productCountType">Product Type </label>
                                <select name="productCountType" id="productCountType">
                                    <option value="Router">Router</option>
                                    <option value="Mobile" selected="selected">Mobile</option>
                                    <option value="Sims">Sims</option>
                                    <option value="Other">Other</option>
                                </select>
                            </p>
                            <p>
                                <label for="productCountName">Product Type </label>
                                <select name="productCountName" id="productCountName">
                                    <!--Pass from database-->
                                    <option value="Product1">Product1</option>
                                    <option value="Product2" selected="selected">Product2</option>
                                    <option value="Product3">Product3</option>
                                    <option value="Product4">Product4</option>
                                </select>
                            </p>
                            <p>
                                <label for="productCountNum">No. of Products </label>
                                <input id="productCountNum" type="number" min="1" max="9999" />
                            </p>
                            <button type="submit" class="btn btn-primary">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>

    <div class="mid_box_left">
        {% block midBoxRight %}
            <div class="col-sm-4">
                <div class="well">
                    <legend class="scheduler-border">Stock Pending serial no. <span class="badge">10</span></legend>
                    <div class="row">
                        <form>
                            <p>
                                <label for="productSerialType">Product Type </label>
                                <select name="productSerialType" id="productSerialType">
                                    <option value="Router">Router</option>
                                    <option value="Mobile" selected="selected">Mobile</option>
                                    <option value="Sims">Sims</option>
                                    <option value="Other">Other</option>
                                </select>
                            </p>
                            <p>
                                <label for="productSerialNum">Serial no. </label>
                                <input type="text" name="productAddSerial" id="fn" size="50"/>
                            </p>
                            <button type="submit" class="btn btn-primary">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>

    <div class="bot_box_left">
        {% block botBoxRight %}
            <div class="col-sm-4">
                <div class="well">
                    <legend class="scheduler-border">Negative Stock <span class="label label-pill label-danger">10</span></legend>
                    <div class="row">
                        <form>
                            <p>
                                <ul>
                                    <li>Routers<span class="badge">10</span></li>
                                    <li>Mobile<span class="badge">10</span></li>
                                    <li>Sim<span class="badge">10</span></li>
                                </ul>
                            </p>
                            <button type="submit" class="btn btn-primary">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
    </div>
{% endblock %}