{% extends 'base.html.twig' %}
{% block title %}
    Add items
{% endblock %}

{% block body %}
    <div class="bottom_box_left">
        {% block bottomLeft %}
            <div class="col-sm-8">
                <div class="well">
                    <legend class="scheduler-border">Capture Item details</legend>
                    <div class="row">

                    </div>
                </div>
            </div>
        {% endblock %}
    </div>

    <div class="bottom_box_right">
        {% block bottomLeft %}
            <div class="col-sm-4">
                <div class="well">
                    <legend class="scheduler-border">Import item details</legend>
                    <div class="row">

                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}