{% extends 'base.html.twig' %}
{% block title %}
    Stock Reports
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Stock Reports</h1>
        <p>Stock Reports will go here</p>
        <div class="col-sm-6">
        <div class="well">
            Report 1
        </div>
        </div>
        <div class="col-sm-6">
            <div class="well">
                Report 2
            </div>
        </div>
        <div class="col-sm-6">
            <div class="well">
                Report 3
            </div>
        </div>
    </div>
{% endblock %}