{% extends 'base.html.twig' %}
{% block title %}
    Current Stock Items
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Current Stock</h1>
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#Routers">
            <span class="glyphicon glyphicon-collapse-down"></span> Routers <span class="badge">10</span>
        </button>
        <div id="Routers" class="collapse">
            <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Click to Edit</th>
                        <th>Product Type</th>
                        <th>Column 1</th>
                        <th>Column 2</th>
                        <th>Column 3</th>
                        <th>Column 4</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><button type="button" class="btn btn-primary btn-sm"
                        data-toggle="modal" data-target="#myModal">
                        Edit data</button></td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
{% endblock %}