{% extends 'base.html.twig' %}
{% block title %}
    Login page
{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger"> <strong>{{ error.messageKey|trans(error.messageData,'security') }}</strong></div>
    {% endif %}
    <div class="container-fluid">
    <div class="col-sm-4">
        <div class="well">

<form action="{{ path('login') }}" method="post">
    <div class="form-group">
        <div class="input-group">
            <label for="username" class="input-group-addon glyphicon glyphicon-user"> Username:</label>
            <input type="text" class="form-control" name="_username" id="username" placeholder="Password"
                   value="{{ last_username }}">
        </div>
    </div> <!-- /.form-group -->

    <div class="form-group">
        <div class="input-group">
            <label for="uPassword" class="input-group-addon glyphicon glyphicon-lock"> Password:</label>
            <input type="password" class="form-control" name="_password" id="password" placeholder="Password">
        </div> <!-- /.input-group -->
    </div> <!-- /.form-group -->

    <br>
    <input type="hidden" name="_target_path" value="/" />
    {#
        If you want to control the URL the user
        is redirected to on success (more details below)
        <input type="hidden" name="_target_path" value="/account" />
    #}
    <button class="btn btn-primary" type="submit">Login</button>
</form>
    </div>
        </div>
    </div>
{%  endblock %}